/target
config.json
/bounty
/logs
/save/*
!/save/this_save.txt
test.jpg
log.txt
hertz/target
vite-press/node_modules
vite-press/docs/.vitepress/cache
vite-press/docs/.vitepress/dist
CACHE
.env
main.json
discord.json
gacha.json
market.json
savefile.json
result.jpg
/.direnv
