{
  "discord": {
    "token":"your token",
    "prefix":"%",
    "author_id":455622761168109569
   },
  "postgress": {
    "user":"postgres",
    "host":"localhost",
    "password":"",
    "port":5432,
    "database":"erupe"
   },
  "mhfz_config": {   
    "account_creation":true,
    "sending_log":false
   },
  "bot_config": {
    "gacha":true
   },
  "log_channel": {
    "err_channel":1031774270512169070,
    "account_channel":1031774270512169070,
    "transfer_channel":1031774270512169070,
    "info_channel":1031774270512169070,
    "info_channel_msg":1070671548408664124,
    "erupe_channel":1031774270512169070
   },
  "server_role":{
    "register_role":1031595216538452038
  }
}
