<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link data-trunk rel="icon" href="logo.svg" type="image/svg" />
    <link rel="stylesheet" href="./index.css" />
    <script src="https://kit.fontawesome.com/79edbae9f9.js" crossorigin="anonymous"></script>
    <title>Axum Tera/Djinja</title>
  </head>
  <body class="bg-base-100">
    <h1>Hello tester</h1>
  </body>
</html>
